.posts-area {
    display:flex;
    flex-direction: column;
    font-size: 1.0rem;
    box-shadow:-1px 1px 5px -1px rgba(0, 0, 0, 0.5);

    width: 50%;
    height: 100%;
    border-top: 1px solid #adb5bd;
    border-right: 1px solid #adb5bd;
    border-left: 1px solid #adb5bd;
    padding: 5px 5px 0px 5px;
}

.posts-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.post {
    display: flex;
    width: 100%;
    font-family:'Poppins';
    flex-direction: column;
    border-bottom: 1px solid #edede9;
   
}
.post a{
    text-decoration: none;
    color: #000;
}

@media (max-width:800px) {
     .posts-container {
        flex-direction: column;
        align-items: center;
     }
     .name-user, .posts-area {
        margin-bottom: 30px;
        width: 100%;
     }

}


.body-post { 
    margin-left: 70px;
    margin-bottom: 15px;
}

.infos-post {
    margin-top: 10px;
    margin-bottom: 3px;
    display: flex;
    align-items:center;
}

.infos-post .name-user-comment{
    margin-left: 8px;
}

.circle-comment {
    display:block;

	border: 2px solid #3a86ff;
	border-radius: 50%;
	height: 38px;
	width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-user-photo img {
    border-radius: 50%;
    width: 37px;
    height: 37px;
}

.comment-user-photo {
    background-size: cover;
	background-position: top center;
    margin: 0 auto;
    width: 38px;
    height: 38px;
}

/*Área de postagem*/
.insert-comment-container {
 text-align: center;
}

.form-post {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.insert-comment-container textarea {
    margin-top: 50px;
    width: 50%;
    height: 3rem;
    border: 2px solid #3a86ff;
    resize: none;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Roboto';
}

#countcharacters {
    font-size: 15px;
    opacity: 0.5
}

textarea::-webkit-scrollbar {
    width: 3px;
}

textarea::-webkit-scrollbar-thumb {
   background-color: #0B8FF9;
}

.insert-comment-container textarea:focus {
    border: 2px solid red;
}

.fa-solid {
    color:red;
    cursor: pointer;
}

.fa-heart {
    cursor: pointer;
}

.fa-bell { 
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
    
    
}
.reactions-post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20%;

}

.reactions-post .date-sended {
    opacity: 40%;
    font-size: 0.8rem;
}

/*input de Resposta da pergunta */

.owner-profile-form {

    margin-bottom:20px;
    width: 100%;
    border-bottom: 2px solid rgb(200,200,200);
    border-radius: 3px;
    padding: 5px;
    margin-left: 10px;


}

.owner-profile-form:focus, .owner-profile-form:valid {
    border-bottom: 2px solid cornflowerblue;
    box-shadow: 0 0 0 0;
    outline: 0;
}


.author-comment-box {
    display: none;
    width: 85%;
    margin-left: 20px;
    align-items:center;
    border-top: 1px solid #edede9;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* Resposta(s) da pergunta */

.aswners-box {
    display: flex;
    width: 100%;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.aswners-content{
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;

}

.aswner {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 4px;
}


.body-aswner {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #e5e5e5;
}

.show-input {
    cursor:pointer;
}

.count-likes {
    color: #000;
}

.name-user-comment {
    margin-right: 10px;
}
